*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s ease;
}

body{
    background-color: black;
}

.container{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 90vw;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon{
    width: 250px;
    padding: 20px;
    text-align: center;
    margin: 10px;
	display: flex;
    flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}

.Jigglypuff{
    background-color: #efa3cc;
}

.Meowth{
    background-color: #eae4c5;
}

.Mew{
    background-color: #ffddd2;
}

.Rattata{
    background-color: #a962e8;
}

.Snorlax{
    background-color: #0d5c9e;
}

.Mankey{
    background-color: #f4d3a2;
}

.Pidgey{
    background-color: #e29c37;
}

.Caterpie{
    background-color: #83d839;
}

.Squirtle{
    background-color: #7fe5d8;
}

.Venonat{
    background-color: #7c34c1;
}

.Eevee{
    background-color: #d3964c;
}

.Charmander{
    background-color: #f77819;
}

img{
    width: 100%;
}

p{
    display: none;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.types{
	display: none;
	text-align: center;
}

#pokeball{
    display: none;
    width: 115px;
    height: 80px;
}

@media(max-width: 1200px){
    .icon{
		display: flex;
        padding: 20px;
        width: 600px;
        vertical-align: center;
        flex-grow: 1;
    }

    .icon:hover{
        background-image: url("123.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
    }
	

    p, #pokeball{
        display: inline-block;
    }

    img{
        width: 100px;
    }
}

@media(max-width: 500px){
    .icon{
        padding: 20px;
        width: 250px;
        vertical-align: center;
        flex-grow: 1;
		flex-direction: column;
}

    .icon:hover{
        background-image: url("PokeBG.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
    }

    p, types{
        display: inline-block;
    }

    #pokeball{
        display: none;
    }

    img{
        width: 150px;
    }
	
	.types{
		width: 100%;
		margin: 0 10rem;
		display: flex;
		flex-direction: column;
	}

	.type1, .type2{
		display: inline-block;
		padding: 0.5rem;
		border-radius: 0.5rem;
		margin: 0.5rem;
		color: white;
		font-size: 1.5rem;
		flex-grow: 1;
	}
}

.Normal{
    background-color: #9FA19E;
}

.Fairy{
    background-color: #EE70EE;
}

.Psychic{
    background-color: #EE4179;
}

.Fighting{
    background-color: #FF7F00;
}

.Flying{
    background-color: #81B8EE;
}

.Bug{
    background-color: #91A11A;
}

.Water{
    background-color: #2981EF;
}

.Poison{
    background-color: #9241CC;
}

.Fire{
    background-color: #E62828;
}
